.python-base-00 {
    background-color: #1B2B34;
}

.python-base-01 {
    color: #343D46;
}

.python-base-02 {
    color: #4F5B66;
}

.python-base-03 {
    color: #65737E;
}

.python-base-04 {
    color: #A7ADBA;
}

.python-base-05 {
    color: #C0C5CE;
}

.python-base-06 {
    color: #CDD3DE;
}

.python-base-07 {
    color: #D8DEE9;
}

.python-base-08 {
    color: #EC5f67;
}

.python-base-09 {
    color: #F99157;
}

.python-base-0A {
    color: #FAC863;
}

.python-base-0B {
    color: #99C794;
}

.python-base-0C {
    color: #5FB3B3;
}

.python-base-0D {
    color: #6699CC;
}

.python-base-0E {
    color: #C594C5;
}

.python-base-0F {
    color: #AB7967;
}
