:root {
    --primary-border-color: #e5e5e5;
    --primary-border-style: solid;
    --primary-border-width: 1px;
    --primary-border: var(--primary-border-width) var(--primary-border-style) var(--primary-border-color);
}

:root {
    --primary-color: #afafaf;
}

:root {
    --action-border-color: #afafaf;
    --action-border-style: solid;
    --action-border-width: 1px;
    --action-border: var(--action-border-width) var(--action-border-style) var(--action-border-color);
}

:root {
    --action-color: #737373;
}

body {
    font: normal 100% 'Schoolbell';
    color: var(--primary-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 200%;
}

h1 {
    margin-top: 1em;
}

h2 {
    font-size: 150%;
}

h2 {
    margin-top: .5em;
}

h3 {
    font-weight: bold;
}

hr {
    width: 100%;
    border-color: var(--primary-border-color);
    border-top-style: solid;
}

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside {
    border: var(--primary-border);
    border-radius: 5px;
    padding: 20px 30px;
}

aside > *:not(:last-child) {
    margin-right: 15px;
}

input {
    border: var(--primary-border);
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 150px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: inherit;
    color: var(--primary-color);
}

button.call-to-action[type="submit"] {
    border: var(--action-border);
    color: var(--action-color);
}

button.call-to-action:not([type="submit"]) {
    border: var(--primary-border);
    color: var(--primary-color);
}

body > article, section {
    margin-left: 20%;
    margin-right: 20%;
}

[custom-animation="oscillate-down"] {
    animation: slide-down 1s ease-in-out infinite;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section > figure {
    max-width: 40%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

img {
    height: 400px;
}

footer {
    min-height: 30vh;
}

pre {
    width: 400px;
    padding: 8px;
    font-family: 'VT323';
    box-shadow: inset 0 0 3px var(--primary-border-color);
    border-radius: 12px;
}
