svg {
    display: flex;
}


.svg-text-h1 {
    font: normal 400% 'VT323';
}

.svg-text-h1-i {
    font: italic 400% 'VT323';
}

.svg-text-h2 {
    font: normal 200% 'VT323';
}

.svg-text-h2-i {
    font: italic 200% 'VT323';
}

.colors-main-bg {
    background-color: #BCB88A;
    fill: #BCB88A;
}

.colors-light-bg {
    background-color: #e3e1ce;
    fill: #e3e1ce;
}

.colors-main-fg {
    color: #BCB88A;
    stroke: #BCB88A;
}

.colors-white-bg {
    background-color: white;
    fill: white;
}

.colors-white-fg {
    color: white;
    stroke: white;
}

.colors-black-bg {
    background-color: black;
    fill: black;
}

.colors-black-fg {
    color: black;
    stroke: black;
}
